
body {
  background-color: #F5F5F5;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100vh;
  background-color: #CE2424;
  .container {
    .title {
      display: flex;
      justify-content: center;
      h1 {
        font-size: 100px;
        font-family: 'Erica One', cursive;
        color: #F5F5F5;
        margin-top: 90px;
      }
    }
    .write {
      position: relative;
      margin-top: 20px;
      display: flex;
      align-items: center;
      #input {
        width: 100%;
        height : 50px;
        border-radius: 0;
        border: none;
        padding-left: 20px;
        background-color: #F5F5F5;
        color: #CE2424;
        font-size: 18px;
        font-family: 'Black Han Sans','Erica One', cursive;
        box-sizing: border-box;
      }
      #submit-btn {
        position: absolute;
        right: 8px;
        width: 80px;
        height: 40px;
        border: none;
        color: #F5F5F5;
        letter-spacing: 1px;
        border-radius: 3px;
        font-size: 18px;
        font-family: 'Erica One', cursive;
        background-color: #CE2424;
        cursor: pointer;
      }
    }
    .list {
      width: 100%;
      height: 500px;
      margin-top: 10px;
      background-color: #F5F5F5;
      display: flex;
      justify-content: center;
      align-content: flex-start;
      position: relative;
      flex-wrap: wrap;
      .list-title {
        width: 90%;
        height: 60px;
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: aquamarine;
      }
      .list-wrap {
        width: 90%;
        height: 320px;
        padding: 15px;
        box-sizing: border-box;
        background-color: aquamarine;
      }
      .list-btn {
        position: absolute;
        bottom: 20px;
        button {
          border: none;
          background-color: transparent;
          color: #CE2424;
          font-family: 'Erica One', cursive;
          font-size: 30px;
          padding: 0 20px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
    .button {
      display: flex;
      justify-content: center;
      button {
        border: none;
        background-color: transparent;
        color: #F5F5F5;
        font-family: 'Erica One', cursive;
        font-size: 75px;
        text-align: center;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}
.calendar {
  height: 100vh;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .title {
    width: 100%;
    height: 210px;
    right: 0;
    background-color: #F5F5F5;
    box-shadow:  0 10px 30px 0 #ce242496;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    h2 {
      font-size: 100px;
      font-family: 'Erica One', cursive;
      color: #CE2424;
      margin-top: 90px;
    }
  }
  .body {
    width: 665px;
    height: calc(100vh - 210px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    .month-wrap {
      margin-top: 50px;
      flex-wrap: wrap;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      align-content: flex-start;
      .month {
        text-align: center;
        width: 100%;
        font-family: 'Erica One', cursive;
        color: #CE2424;
        font-size: 64px;
      }
      .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 15px;
        .prev, .next {
          position: absolute;
          width: 40px;
          height: 40px;
          border: none;
          background-color: #CE2424;
          color: #F5F5F5;
          font-family: 'black han sans', cursive;
          font-size: 16px;
          cursor: pointer;
        }
        .today {
          display: block;
          position: absolute;
          top: 70px;
          right: -16px;
          margin: auto;
          color: #CE2424;
          font-family: 'black han sans', cursive;
          font-size: 17px;
          width: 100px;
          height: 45px;
          border: none;
          cursor: pointer;
          background-color: transparent;
        }
        .prev {
          left: 0;
          background-image: url('../images/Arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
        .next {
          right: 0;
          background-image: url('../images/Arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
          transform: scaleX(-1);
        }
      }
    }
    .days-wrap {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      height: 480px;
      align-content: flex-start;
      .days {
        display: flex;
        width: 665px;
        height: 40px;
        background-color: #CE2424;
        align-items: center;
        .day {
          width: 95px;
          height: 100%;
          margin-top: 3px;
          font-family: 'black han sans', cursive;
          font-size: 18px;
          color: #F5F5F5;
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;
        }
      }
      .dates {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .date {
          width: 95px;
          height: 70px;
          display: flex;
          padding-top: 12px;
          justify-content: center;
          box-sizing: border-box;
          cursor: pointer;
          font-family: 'Black Han sans', cursive;
          font-size: 19px;
          color: #CE2424;
          border-top: 2px solid #CE2424;
          border-right: 2px solid #CE2424;
          &:nth-last-child(-n+7) {
            border-bottom: 2px solid #CE2424;
          }
          &:nth-child(-n+7) {
            border-top: none;
          }
          &:nth-child(7n) {
            border-right: none;
          }
        }
        .today {
          box-shadow: inset 0 0 20px 5px rgb(250, 255, 93); 
        }
        .other {
          color: #c9c9c9;
        }
        .this:hover {
          box-shadow: inset 0 0 20px 5px rgb(250, 255, 93);
        }
      }
    }
  }
}