::-moz-selection {
  background-color: rgb(0, 255, 85);
}

::selection {
  background-color: rgb(0, 255, 85);
}

body {
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  width: 40%;
  height: auto;
  background-color: #CE2424;
  overflow: hidden;
}
main .container .title {
  display: flex;
  justify-content: center;
}
main .container .title h1 {
  font-size: 100px;
  font-family: "Erica One", "Black Han Sans", cursive;
  color: #F5F5F5;
  margin-top: 90px;
}
main .container .write {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
main .container .write .todo-input {
  width: 100%;
  height: 50px;
  border-radius: 0;
  padding-top: 7px;
  border: none;
  padding-left: 20px;
  background-color: #F5F5F5;
  color: #CE2424;
  font-size: 23px;
  font-family: "Black Han Sans", "Erica One", cursive;
  box-sizing: border-box;
}
main .container .write .todo-btn {
  position: absolute;
  right: 8px;
  width: 100px;
  height: 40px;
  border: none;
  color: #F5F5F5;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Erica One", "Black Han Sans", cursive;
  background-color: #CE2424;
  cursor: pointer;
}
main .container .list {
  width: 530px;
  height: 500px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  flex-wrap: wrap;
}
main .container .list .list-date {
  text-align: center;
  width: 90%;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 55px;
  font-family: "Erica One", "Black Han Sans", cursive;
  color: #CE2424;
}
main .container .list .list-wrap {
  width: 90%;
  align-items: flex-start;
  height: auto;
  max-height: 320px;
  padding: 15px;
  box-sizing: border-box;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
main .container .list .list-wrap .item {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #CE2424;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 10px;
}
main .container .list .list-wrap .item.none {
  display: none;
}
main .container .list .list-wrap .item .content {
  padding-top: 13px;
  display: flex;
  align-items: center;
}
main .container .list .list-wrap .item .content [type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2.5px solid #CE2424;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  transition: 0.3s ease-in-out;
}
main .container .list .list-wrap .item .content [type=checkbox]:checked {
  background-color: #CE2424;
}
main .container .list .list-wrap .item .content .todo {
  padding-top: 4px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Black Han Sans", "Erica One", cursive;
  color: #CE2424;
}
main .container .list .list-wrap .item .delete-btn {
  box-sizing: border-box;
  width: auto;
  height: 20px;
  font-family: "Erica One", "Black Han Sans", cursive;
  color: #CE2424;
  font-size: 18px;
  text-align: right;
  cursor: pointer;
}
main .container .list .list-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
main .container .list .list-btn button {
  border: none;
  background-color: transparent;
  color: #CE2424;
  font-family: "Erica One", "Black Han Sans", cursive;
  font-size: 30px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}
main .container .list .complete {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
main .container .list .complete p {
  border: none;
  background-color: transparent;
  color: #CE2424;
  font-family: "Erica One", "Black Han Sans", cursive;
  font-size: 40px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}
main .container .button {
  display: flex;
  justify-content: center;
}
main .container .button button {
  border: none;
  background-color: transparent;
  color: #F5F5F5;
  font-family: "Erica One", "Black Han Sans", cursive;
  font-size: 75px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}
main .container .button button:hover {
  color: rgb(0, 255, 85);
}

.calendar {
  height: 100%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calendar .title {
  width: 100%;
  height: 210px;
  right: 0;
  background-color: #F5F5F5;
  box-shadow: 0 10px 30px 0 #CE2424;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.calendar .title h2 {
  font-size: 100px;
  font-family: "Erica One", "Black Han Sans", cursive;
  color: #CE2424;
  margin-top: 90px;
}
.calendar .body {
  width: 665px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.calendar .body .container {
  margin-top: 90px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.calendar .body .container .month-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}
.calendar .body .container .month-wrap .prev, .calendar .body .container .month-wrap .next {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #CE2424;
  color: #F5F5F5;
  font-family: "Black Han Sans", "Erica One", cursive;
  font-size: 16px;
  cursor: pointer;
}
.calendar .body .container .month-wrap .month {
  margin-top: -15px;
  text-align: center;
  width: auto;
  font-family: "Erica One", "Black Han Sans", cursive;
  color: #CE2424;
  font-size: 64px;
}
.calendar .body .container .month-wrap .prev {
  left: 0;
  background-image: url("../images/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.calendar .body .container .month-wrap .next {
  right: 0;
  background-image: url("../images/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}
.calendar .body .container .today {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #CE2424;
  font-family: "Black Han Sans", "Erica One", cursive;
  font-size: 17px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
}
.calendar .body .container .days-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  align-content: flex-start;
}
.calendar .body .container .days-wrap .days {
  display: flex;
  width: 665px;
  height: 40px;
  background-color: #CE2424;
  align-items: center;
}
.calendar .body .container .days-wrap .days .day {
  width: 95px;
  height: 100%;
  margin-top: 3px;
  font-family: "Black Han Sans", "Erica One", cursive;
  font-size: 18px;
  color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calendar .body .container .days-wrap .dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calendar .body .container .days-wrap .dates .date {
  width: 95px;
  height: 70px;
  display: flex;
  padding-top: 12px;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Black Han Sans", "Erica One", cursive;
  font-size: 19px;
  color: #CE2424;
  border-top: 2px solid #CE2424;
  border-right: 2px solid #CE2424;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calendar .body .container .days-wrap .dates .date:nth-last-child(-n+7) {
  border-bottom: 2px solid #CE2424;
}
.calendar .body .container .days-wrap .dates .date:nth-child(-n+7) {
  border-top: none;
}
.calendar .body .container .days-wrap .dates .date:nth-child(7n) {
  border-right: none;
}
.calendar .body .container .days-wrap .dates .today {
  box-shadow: inset 0 0 20px 5px rgb(0, 255, 85);
}
.calendar .body .container .days-wrap .dates .other {
  color: #c9c9c9;
}
.calendar .body .container .days-wrap .dates .this:hover {
  box-shadow: inset 0 0 20px 5px rgb(0, 255, 85);
}

@media screen and (max-width: 1024px) {
  body {
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #CE2424;
    overflow: hidden;
  }
  main .container .write {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  main .container .write #input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    padding-top: 7px;
    border: none;
    padding-left: 20px;
    background-color: #F5F5F5;
    color: #CE2424;
    font-size: 23px;
    font-family: "Black Han Sans", "Erica One", cursive;
    box-sizing: border-box;
  }
  main .container .write #submit-btn {
    position: absolute;
    right: 8px;
    width: 100px;
    height: 40px;
    border: none;
    color: #F5F5F5;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Erica One", "Black Han Sans", cursive;
    background-color: #CE2424;
    cursor: pointer;
  }
  main .container .list {
    width: 530px;
    height: 500px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    flex-wrap: wrap;
  }
  main .container .list .list-btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  main .container .list .list-btn button {
    border: none;
    background-color: transparent;
    color: #CE2424;
    font-family: "Erica One", "Black Han Sans", cursive;
    font-size: 30px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
  }
  main .container .list .complete {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  main .container .list .complete p {
    border: none;
    background-color: transparent;
    color: #CE2424;
    font-family: "Erica One", "Black Han Sans", cursive;
    font-size: 40px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
  }
  main .container .button {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
  main .container .button button {
    border: none;
  }
  .calendar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .calendar .title {
    display: none;
  }
  .calendar .body .container {
    margin-top: 120px;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
  }
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #CE2424;
    overflow: hidden;
  }
  main .container .title {
    display: flex;
    justify-content: center;
  }
  main .container .title h1 {
    font-size: 100px;
    font-family: "Erica One", "Black Han Sans", cursive;
    color: #F5F5F5;
    margin-top: 90px;
  }
  main .container .write {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  main .container .write #input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    padding-top: 7px;
    border: none;
    padding-left: 20px;
    background-color: #F5F5F5;
    color: #CE2424;
    font-size: 23px;
    font-family: "Black Han Sans", "Erica One", cursive;
    box-sizing: border-box;
  }
  main .container .write #submit-btn {
    position: absolute;
    right: 8px;
    width: 100px;
    height: 40px;
    border: none;
    color: #F5F5F5;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Erica One", "Black Han Sans", cursive;
    background-color: #CE2424;
    cursor: pointer;
  }
  main .container .list {
    width: 530px;
    height: 500px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    flex-wrap: wrap;
  }
  main .container .list .list-date {
    text-align: center;
    width: 90%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 55px;
    font-family: "Erica One", "Black Han Sans", cursive;
    color: #CE2424;
  }
  main .container .list .list-wrap {
    width: 90%;
    height: 320px;
    padding: 15px;
    box-sizing: border-box;
    overflow-x: auto;
  }
  main .container .list .list-wrap li {
    padding-top: 13px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #CE2424;
    padding-bottom: 10px;
  }
  main .container .list .list-wrap li [type=checkbox] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 10px solid #CE2424;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: 0.3s ease-in-out;
  }
  main .container .list .list-wrap li [type=checkbox]:checked {
    background-color: #CE2424;
  }
  main .container .list .list-wrap li p {
    padding-top: 4px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Black Han Sans", "Erica One", cursive;
    color: #CE2424;
  }
  main .container .list .list-btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  main .container .list .list-btn button {
    border: none;
    background-color: transparent;
    color: #CE2424;
    font-family: "Erica One", "Black Han Sans", cursive;
    font-size: 30px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
  }
  main .container .list .complete {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  main .container .list .complete p {
    border: none;
    background-color: transparent;
    color: #CE2424;
    font-family: "Erica One", "Black Han Sans", cursive;
    font-size: 40px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
  }
  main .container .button {
    display: flex;
    justify-content: center;
  }
  main .container .button button {
    border: none;
    background-color: transparent;
    color: #F5F5F5;
    font-family: "Erica One", "Black Han Sans", cursive;
    font-size: 75px;
    text-align: center;
    padding: 0;
    cursor: pointer;
  }
  main .container .button button:hover {
    color: rgb(0, 255, 85);
  }
  .calendar {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .calendar .title {
    display: none;
  }
  .calendar .body {
    box-shadow: 0 10px 30px 0 #CE2424;
    width: 100%;
    height: calc(100vh - 210px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  .calendar .body .container {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
  }
  .calendar .body .container .days-wrap {
    width: 100%;
  }
  .calendar .body .container .days-wrap .days {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #CE2424;
    align-items: center;
  }
  .calendar .body .container .days-wrap .dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .calendar .body .container .days-wrap .dates .date {
    width: 14.2857142857%;
  }
}
@media screen and (max-width: 390px) {
  body {
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
  }
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #CE2424;
    overflow: hidden;
  }
  main .container .title {
    display: flex;
    justify-content: center;
  }
  main .container .title h1 {
    font-size: 100px;
    font-family: "Erica One", "Black Han Sans", cursive;
    color: #F5F5F5;
    margin-top: 90px;
  }
  main .container .write {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  main .container .write #input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    padding-top: 7px;
    border: none;
    padding-left: 20px;
    background-color: #F5F5F5;
    color: #CE2424;
    font-size: 23px;
    font-family: "Black Han Sans", "Erica One", cursive;
    box-sizing: border-box;
  }
  main .container .write #submit-btn {
    position: absolute;
    right: 8px;
    width: 100px;
    height: 40px;
    border: none;
    color: #F5F5F5;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Erica One", "Black Han Sans", cursive;
    background-color: #CE2424;
    cursor: pointer;
  }
  main .container .list {
    width: 530px;
    height: 500px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    flex-wrap: wrap;
  }
  main .container .list .list-date {
    text-align: center;
    width: 90%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 55px;
    font-family: "Erica One", "Black Han Sans", cursive;
    color: #CE2424;
  }
  main .container .list .list-wrap {
    width: 90%;
    height: 320px;
    padding: 15px;
    box-sizing: border-box;
    overflow-x: auto;
  }
  main .container .list .list-wrap li {
    padding-top: 13px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #CE2424;
    padding-bottom: 10px;
  }
  main .container .list .list-wrap li [type=checkbox] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 3px solid #CE2424;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: 0.3s ease-in-out;
  }
  main .container .list .list-wrap li [type=checkbox]:checked {
    background-color: #CE2424;
  }
  main .container .list .list-wrap li p {
    padding-top: 4px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Black Han Sans", "Erica One", cursive;
    color: #CE2424;
  }
  main .container .list .list-btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  main .container .list .list-btn button {
    border: none;
    background-color: transparent;
    color: #CE2424;
    font-family: "Erica One", "Black Han Sans", cursive;
    font-size: 30px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
  }
  main .container .list .complete {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  main .container .list .complete p {
    border: none;
    background-color: transparent;
    color: #CE2424;
    font-family: "Erica One", "Black Han Sans", cursive;
    font-size: 40px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
  }
  main .container .button {
    display: flex;
    justify-content: center;
  }
  main .container .button button {
    border: none;
    background-color: transparent;
    color: #F5F5F5;
    font-family: "Erica One", "Black Han Sans", cursive;
    font-size: 75px;
    text-align: center;
    padding: 0;
    cursor: pointer;
  }
  main .container .button button:hover {
    color: rgb(0, 255, 85);
  }
  .calendar {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .calendar .body {
    box-shadow: 0 10px 30px 0 #CE2424;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  .calendar .body .container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: aqua;
  }
  .calendar .body .container .month-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .calendar .body .container .month-wrap .prev, .calendar .body .container .month-wrap .next {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #CE2424;
    color: #F5F5F5;
    font-family: "Black Han Sans", "Erica One", cursive;
    font-size: 16px;
    cursor: pointer;
  }
  .calendar .body .container .month-wrap .month {
    margin-top: -15px;
    text-align: center;
    width: auto;
    font-family: "Erica One", "Black Han Sans", cursive;
    color: #CE2424;
    font-size: 64px;
  }
  .calendar .body .container .month-wrap .prev {
    left: 0;
    background-image: url("../images/Arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .calendar .body .container .month-wrap .next {
    right: 0;
    background-image: url("../images/Arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
  }
  .calendar .body .container .days-wrap {
    width: 100%;
  }
  .calendar .body .container .days-wrap .days {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #CE2424;
    align-items: center;
  }
  .calendar .body .container .days-wrap .dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .calendar .body .container .days-wrap .dates .date {
    width: 14.2857142857%;
  }
}/*# sourceMappingURL=main.css.map */